<div class="mx-auto mt-20 max-w-7xl px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <div class="grid max-w-xl grid-cols-1 gap-8 text-base leading-7 text-gray-600 lg:max-w-none lg:grid-cols-2">
      <div>
        <p>Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id. Id dolor praesent donec est. Odio penatibus risus viverra tellus varius sit neque erat velit. Faucibus commodo massa rhoncus, volutpat. Dignissim sed eget risus enim. Mattis mauris semper sed amet vitae sed turpis id.</p>
        <p class="mt-8">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas.</p>
      </div>
      <div>
        <p>Erat pellentesque dictumst ligula porttitor risus eget et eget. Ultricies tellus felis id dignissim eget. Est augue maecenas risus nulla ultrices congue nunc tortor. Enim et nesciunt doloremque nesciunt voluptate.</p>
        <p class="mt-8">Et vitae blandit facilisi magna lacus commodo. Vitae sapien duis odio id et. Id blandit molestie auctor fermentum dignissim. Lacus diam tincidunt ac cursus in vel. Mauris varius vulputate et ultrices hac adipiscing egestas. Iaculis convallis ac tempor et ut. Ac lorem vel integer orci.</p>
      </div>
    </div>
    <dl class="mt-16 grid grid-cols-1 gap-x-8 gap-y-12 sm:mt-20 sm:grid-cols-2 sm:gap-y-16 lg:mt-28 lg:grid-cols-4">
      <div class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6">
        <dt class="text-base leading-7 text-gray-600">Business was founded</dt>
        <dd class="text-3xl font-semibold tracking-tight text-primary">1995</dd>
      </div>

      <div class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6">
        <dt class="text-base leading-7 text-gray-600">People on the team</dt>
        <dd class="text-3xl font-semibold tracking-tight text-primary">120+</dd>
      </div>

      <div class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6">
        <dt class="text-base leading-7 text-gray-600">Users on the platform</dt>
        <dd class="text-3xl font-semibold tracking-tight text-primary">250k</dd>
      </div>

      <div class="flex flex-col-reverse gap-y-3 border-l border-white/20 pl-6">
        <dt class="text-base leading-7 text-gray-600">Paid out to creators</dt>
        <dd class="text-3xl font-semibold tracking-tight text-primary">$70M</dd>
      </div>
    </dl>
  </div>
</div>