<section
  id="analytical-service"
  aria-labelledby="analytical-service-title"
  class="scroll-mt-14 py-16 sm:scroll-mt-32 sm:py-20 lg:py-32"
>
  <div class="mx-auto px-4 sm:px-6 md:max-w-2xl md:px-4 lg:max-w-4xl lg:px-12">
    <h2
      id="analytical-service-title"
      class="inline-flex items-center rounded-full py-1 px-4 text-primary ring-1 ring-inset ring-primary"
    >
      <span class="font-mono text-sm" aria-hidden="true">
        02
      </span>
      <span class="ml-3 h-3.5 w-px bg-blue-600/20" />
      <span class="ml-3 text-base font-medium tracking-tight">
        Analytical Service
      </span>
    </h2>
    <p class="mt-4 text-lg tracking-tight text-slate-700">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt rerum harum perferendis ipsum molestiae excepturi quibusdam, id ipsam vero earum vel quod voluptatum voluptatem magni illum deleniti alias accusamus at.
    </p>
  </div>
</section>