---
import { getCollection } from 'astro:content';


---

<div class="mx-auto max-w-7xl sm:px-16 py-10 bg-gray-50">
  <h2 class="text-center text-3xl font-bold tracking-tight text-gray-800 sm:text-4xl">Uw veelzijdige oplossingspartner</h2>
  <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600 px-6">Ontdek het brede toepassingsgebied van Elementjob. Met ons team van professionals bieden wij een uitgebreid scala aan services die voldoen aan uw specifieke behoeften. Of het nu gaat om schoonmaak, onderhoud van luchtbehandelingskanalen, legionellapreventie, brandpreventie of andere oplossingen, wij staan klaar om u te helpen. Vertrouw op Elementjob voor hoogwaardige en betrouwbare resultaten in uw werkomgeving.</p>
  <div role="list" class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3 px-6">
  </div>
  <div class="mt-5 flex items-center justify-center gap-x-6">
    <a href="/news" class="bg-orange-500 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-orange-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white">Bekijk onze blog</a>
  </div>
</div>
