---
import { getCollection } from 'astro:content';

const newsEntries = await getCollection('news', ({ data }) => {
  return data.draft !== true;
});
const news = newsEntries.sort(function (a, b) {
  return b.data.date.valueOf() - a.data.date.valueOf();
});
---
<div class="mt-24 sm:mt-32 lg:mt-16">
  <a href={`/news/${news[0].slug}`} class="inline-flex space-x-6">
    <span class="rounded-full bg-orange-100 text-orange-500 px-3 py-1 text-xs font-semibold leading-6 ring-1 ring-inset ring-orange-200 min-w-fit">Nieuws</span>
    <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-white">
      <span class="line-clamp-1">{news[0].data.title}</span>
      <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
      </svg>
    </span>
  </a>
</div>