<div class="mx-auto max-w-7xl px-6 lg:px-8 py-10 bg-gray-100 border-t border-gray-200">
  <div class="grid grid-cols-1 items-center gap-x-8 gap-y-16 lg:grid-cols-2">
    <div class="mx-auto w-full max-w-xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900">Partners</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et, egestas tempus tellus etiam sed. Quam a scelerisque amet ullamcorper eu enim et fermentum, augue.</p>
    </div>
    <div class="mx-auto grid w-full max-w-xl grid-cols-2 items-center gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">
      <img class="max-h-12 w-full object-contain object-left" src="/assets/indus1.svg" alt="Industry 1">
      <img class="max-h-12 w-full object-contain object-left" src="/assets/indus2.svg" alt="Industry 2">
      <img class="max-h-12 w-full object-contain object-left" src="/assets/indus3.svg" alt="Industry 3">
      <img class="max-h-12 w-full object-contain object-left" src="/assets/indus4.svg" alt="Industry 4">
      <img class="max-h-12 w-full object-contain object-left" src="/assets/indus5.svg" alt="Industry 5">
      <img class="max-h-12 w-full object-contain object-left" src="/assets/indus6.svg" alt="Industry 6">
    </div>
  </div>
</div>