---
import { Picture } from "@astrojs/image/components";
---
<div class="relative isolate overflow-hidden bg-gradient-to-b from-orange-100/20">
  <div class="mx-auto max-w-7xl pt-10 pb-24 sm:pb-32 lg:grid lg:grid-cols-2 lg:gap-x-8 lg:py-40 lg:px-8">
    <div class="px-6 lg:px-0 lg:pt-4">
      <div class="mx-auto max-w-2xl">
        <div class="max-w-lg">
          <h1 class="mt-10 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
            Over ons
          </h1>
          <p class="mt-6 text-lg leading-8 text-gray-600">
            Bij Elementjob streven we naar uitmuntendheid in alles wat we doen. Onze passie voor kwaliteit en service vormt de kern van ons bedrijf.

            Wij bieden een breed scala aan professionele diensten, waaronder schoonmaak, onderhoud van luchtbehandlingskanalen, legionellapreventie en brandpreventie. Onze toegewijde medewerkers staan klaar om u te ondersteunen bij al uw schoonmaak- en onderhoudsbehoeften.
            
            Bij Elementjob hechten we grote waarde aan betrouwbaarheid en stiptheid. Onze ervaren teamleden zijn zorgvuldig geselecteerd en bieden hoogwaardige diensten die aan uw verwachtingen voldoen.
            
            Onze servicemonteurs zijn gespecialiseerd in het onderhouden van diverse complexe systemen, waaronder luchtbehandlingskanalen. Ze zorgen ervoor dat uw installaties optimaal blijven functioneren.
            
            Daarnaast bieden we uitgebreide legionellapreventie- en brandpreventiediensten aan. Onze professionals nemen de nodige maatregelen om legionellabesmetting te voorkomen en zorgen ervoor dat uw brandpreventiesystemen en -apparatuur veilig en betrouwbaar zijn.
            
            Bij Elementjob  streven we naar langdurige relaties met onze klanten. We bieden op maat gemaakte oplossingen die aansluiten bij uw specifieke behoeften en budget.
            
            Neem vandaag nog contact met ons op.
         
         
          </p>
        </div>
      </div>
    </div>
    <div class="mt-20 sm:mt-24 md:mx-auto md:max-w-2xl lg:mx-0 lg:mt-0 lg:w-screen">
      <div class="absolute inset-y-0 right-1/2 -z-10 -mr-10 w-[200%] skew-x-[-30deg] bg-white shadow-xl shadow-orange-600/10 ring-1 ring-indigo-50 md:-mr-20 lg:-mr-36" aria-hidden="true" />
      <div>
        <div class="bg-primary [clip-path:inset(0)] md:[clip-path:inset(0_round_theme(borderRadius.3xl))]">
          <div class=" bg-orange-500 absolute -inset-y-px left-1/2 -z-10 ml-10 w-[200%] skew-x-[-30deg] bg-primary/10 opacity-20 ring-1 ring-inset ring-white md:ml-20 lg:ml-36" />
          <div class="bg-orange-500 relative px-6 pt-8 sm:pt-16 md:pl-16 md:pr-0">
            <Picture
              src="https://images.unsplash.com/photo-1513828742140-ccaa28f3eda0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
              alt="Industrial screenshot"
              class="w-full bg-gray-50 object-cover lg:aspect-auto lg:h-full"
              aspectRatio={'16:9'}
              widths={[1000, 390]}
              sizes="(min-width: 1024px) 1000px, 100vw"
              quality={80}
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute inset-x-0 bottom-0 -z-10 h-24 bg-gradient-to-t from-white sm:h-32" />
</div>