
<div class="bg-white pb-24 px-6 sm:pb-24 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-orange-500">Krijg de ondersteuning die u nodig heeft</p>
    <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Wij bieden het beste voor uw toekomst</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Bij Elementjob staan we klaar om u te ondersteunen bij het behalen van uw doelen. Met onze hoogwaardige oplossingen en professionele dienstverlening streven we ernaar om u het beste te bieden voor uw toekomst. Wij begrijpen dat elk project uniek is en daarom werken we nauw met u samen om maatwerkoplossingen te leveren die aan uw specifieke behoeften voldoen.</p>
  </div>
</div>