<figure class="rounded-2xl overflow-hidden max-h-[32rem] bg-white shadow-lg ring-1 ring-gray-900/5">
  <figcaption class="mt-6 flex items-center gap-x-4 px-6">
    <h3 class="font-semibold text-2xl">Meet the team</h3>
  </figcaption>
  <div class="text-gray-700 px-6 pt-6 pb-20">
    <p class="mb-10">Aut reprehenderit voluptatem eum asperiores beatae id. Iure molestiae ipsam ut officia rem nulla blanditiis.</p>
    <a href="/meet-the-team" class="bg-primary rounded px-3 py-2 text-white">Learn</a>
  </div>
  <div class="-rotate-3 scale-110">
    <img class="w-full object-cover" src="https://images.unsplash.com/photo-1522202176988-66273c2fd55f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80" alt="">
  </div>
</figure>