---
import Main from "@layouts/main.astro";
import { CONFIG } from 'site.config.mjs';

const seo = {
  title: `Contact | ${CONFIG.SITE_NAME}`,
  description: 'elementjob contactpagina',
}
---

<Main content={seo} activeNav="contact">
  <div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900">Contactpagina</h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">Heeft u vragen of wilt u een klacht melden dan kunt u de contactformulier invullen. Wij streven er naar om binnen 24 uur een reactie te geven.</p>
      </div>
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-8 text-base leading-7 sm:grid-cols-2 sm:gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-4">
        <div>
          <h3 class="border-l border-primary pl-6 font-semibold text-gray-900">Los Angeles</h3>
          <address class="border-l border-gray-200 pt-2 pl-6 not-italic text-gray-600">
            <p>4556 Brendan Ferry</p>
            <p>Los Angeles, CA 90210</p>
          </address>
        </div>
        </div>
      </div>
    </div>
  </div>
  
</Main>