<div class="mx-auto max-w-xl p-16">
  <div class="relative z-0">
    <div class="gradient-mask absolute inset-0 h-full w-full"></div>
    <div class="z-0 grid grid-cols-6 grid-rows-6 border border-white/20">
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20 bg-white/5"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20 bg-white/5"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20 bg-white/5"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20 bg-white/5"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
      <div class="aspect-square border border-white/20"></div>
    </div>
  </div>
</div>
