---
import StarIcon from "./StarIcon.astro";

const { rating = 5 } = Astro.props;
---
<div class="flex gap-1">
  {[...Array(rating).keys()].map(() => (
    <StarIcon className="h-5 w-5 fill-current" />
  ))}
</div>