---
import Layout from "@layouts/Layout.astro";
import Header from "@components/docs/Header.astro";
import type { CollectionEntry } from "astro:content";
export interface Props {
  post: CollectionEntry<"blog">;
}
const { post } = Astro.props;
const { title, description } = post.data;
const { Content } = await post.render();
---

<Layout title={title} author="Muhaimin CS" description={description}>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mt-8 mb-2 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>Go back</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <article id="article" role="article" class="prose prose-headings:text-gray-800 prose-p:text-gray-600 prose-a:text-sky-600 prose-li:text-gray-500 prose-code:text-neutral-500 prose-code:font-mono prose-td:text-gray-600 mx-auto mt-8 max-w-3xl">
      <Content />
    </article>
  </main>
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-gray-900;
  }
  .tags-container {
    @apply my-8;
  }
</style>